In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/google-stock-price/GOOG.csv

In [2]:
df=pd.read_csv('/kaggle/input/google-stock-price/GOOG.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2004-08-19  2.490664  2.591785  2.390042  2.499133   2.499133  897427216
1  2004-08-20  2.515820  2.716817  2.503118  2.697639   2.697639  458857488
2  2004-08-23  2.758411  2.826406  2.716070  2.724787   2.724787  366857939
3  2004-08-24  2.770615  2.779581  2.579581  2.611960   2.611960  306396159
4  2004-08-25  2.614201  2.689918  2.587302  2.640104   2.640104  184645512

In [3]:
df['HL_PCT']=(df['High']-df['Low'])/df['Close']*100
df['pct_change']=(df['Adj Close']-df['Open'])/df['Open']*100
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,HL_PCT,pct_change
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216,8.072520,0.340030
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488,7.921705,7.227027
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939,4.049344,-1.218963
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159,7.657085,-5.726346
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512,3.886817,0.990857

In [4]:
df=df[['Adj Close','HL_PCT','pct_change','Volume']]

In [5]:
df.head()

   Adj Close    HL_PCT  pct_change     Volume
0   2.499133  8.072520    0.340030  897427216
1   2.697639  7.921705    7.227027  458857488
2   2.724787  4.049344   -1.218963  366857939
3   2.611960  7.657085   -5.726346  306396159
4   2.640104  3.886817    0.990857  184645512